<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>
  <button id="button">Click Me</button>
  <div id="value"><%= value %></div>

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
      var button = document.getElementById("button")
      var target = document.getElementById("value")

      button.addEventListener('click', toggle);

      function toggle() {
        var request = new XMLHttpRequest();
        request.open('GET', '/toggle', true);

        request.onload = function() {
          if (this.status >= 200 && this.status < 400) {

            target.innerHTML = JSON.parse(this.response).value
          } else {
          }
        };
        request.send();
      }
    })
  </script>
</body>
</html>